body{
  margin:0;
  padding: 0;
}

a{
  text-decoration: none;
}

img{
  width: 100%;
  height: auto;
}

/* SEZIONE BARRA LATERALE */
aside{
  position: fixed;
  width: 230px;
  background: black;
  height:calc(100vh - 100px);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.nav{
  margin-top: 25px;
  padding-left: 25px;
}
.nav .logo{
  width: 64%;
  margin-bottom: 30px;

}
.icone{
  padding-left: 0;
}
.icone li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  opacity: .7;
}
.icone li:hover {
  opacity: 1;
  transition: 0.3s;

}

.icone li img{
  width: 30px;
  margin-right: 20px;
}
.icone li a{
  color: white;
}










/* SEZIONE MUSICA */
main{
  width: calc(100% - 230px);
  margin-left: 230px;
}

.bk-fixed{
  position: fixed;
  height: 100vh;
  width: 100%;
  background: linear-gradient(15deg, #3c4452 0%, #040405 100%);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -4;
}


/* menu nella sezione  usica dove selezioni che tipo di audio ascoltare */
.menu-options{
  display: flex;
  justify-content: center;
  padding: 60px 0;
}
.menu-options ul li{
  display: inline-block;
  padding: 10px;
}
.menu-options ul li a{
  color:white;
  text-transform: uppercase;
}
/* SEZIONE ALBUM E ARTISITI */
.musics{
  display: flex;
  flex-flow: row wrap;
  width: 85%;
  margin:auto;
}
/* testo sopra le immagini album */
.text{
  width: 100%;
  color: white;
  font-size: 2rem;
  font-weight: 900;
}
.text{
  padding-left: 15px;
}
/* sezione con le iummagini album e artisti */
.album{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.album .singolo{
  padding: 15px;
}

.singolo{
  width: calc(100% / 6 - 30px);
}

.singolo a{
  color: white;
  display: block;
  text-align: center;
}

.singolo a:first-of-type{
  padding-top: 15px;
  padding-bottom: 7px;
}


.container-img{
  position: relative;

}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container-img:hover img {
  opacity: 0.3;
}

.container-img:hover .middle {
  opacity: 1;
}

.text1 {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}














footer{
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100px;
  background: blue;
  width: 100%;
}






@media (max-width: 1700px) {
  .musics{
    width: 95%;
  }
  .singolo{
    width: calc(100% / 4 - 30px)
  }
}

@media (max-width: 1200px) {
  .musics{
    width: 95%;
  }
  .singolo{
    width: calc(100% / 4 - 30px)
  }

}

@media (max-width: 992px) {
  aside{
    width: 60px;
  }

  main{
    margin-left: 50px;
    width: calc(100% - 50px);
  }
  .singolo{
    width: calc(100% / 3 - 30px)
  }
}

@media (max-width: 768px) {

  .album{
    justify-content: center;
  }
  .singolo{
    width: calc(100% / 2 - 30px)
  }
}

@media (max-width: 576px) {
  .singolo{
    width: calc(100% / 1 - 30px)
  }
 }








































/* eafdadefswd */
