@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700,900&display=swap');


body{
  margin:0;
  padding: 0;
  font-family: Raleway;
  letter-spacing: 1px;
}

a{
  text-decoration: none;
}
p{
  margin: 0;
}
img{
  width: 100%;
  height: auto;
}
.rounded{
  border-radius: 50%
}



/* SEZIONE BARRA LATERALE */
aside{
  position: fixed;
  width: 230px;
  background: black;
  height:calc(100vh - 100px);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: white;
}
.logo-cell{
  display: none;
  width: 40px;
}

.nav , .profile{
  margin-top: 25px;
  padding: 0 25px;
}
.nav .logo{
  width: 64%;
  margin-bottom: 10px;
}
.side-bar ul{
  padding-left: 0;
  list-style: none;
}

.side-bar li a{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  opacity: .7;
}
.side-bar li a:hover {
  opacity: 1;
  transition: 0.3s;
}

.icone li {
  margin-bottom: 15px;
}
.nav .icone li img{
  width: 26px;
  margin-right: 20px;
}
.icone li a{
  color: white;
  font-size: 13px;
  font-weight: 500;
}

.nav h5{
  margin-top: 40px;
  font-weight: 400;
  font-size: 11px;
  opacity: 0.7;
  text-transform: uppercase;
}

/* ascoltati di recente */
.recenti  li {
  color:white;
  margin-bottom: 10px;
}
.recenti  li a h4 , .recenti  li a h5{
  color: white;
  margin: 4px 0;
  font-weight: 400;
}
.recenti  li a h4{
  text-transform: capitalize;
  width: 100%;
  font-size: 13px;
}
.recenti  li a h5{
  text-transform: uppercase;
  font-size: 10px;
}

/* profilo */
.profile .app  img{
  width: 17px;
  margin-right: 20px;
}
.profile-section{
  padding-top: 10px;

}
.profile .profile-link {
  opacity: 1
}
.profile .profile-link img{
  width: 30px;
  margin-right: 10px;
  border-radius: 50%

}
.profile .profile-link p{
  font-size: 13px;
  font-weight: 400;
}

.profile hr{
  opacity: .4;
}













/* SEZIONE MUSICA */
main{
  width: calc(100% - 230px);
  margin-left: 230px;
}

.bk-fixed{
  position: fixed;
  height: 100vh;
  width: 100%;
  background: linear-gradient(90deg, rgb(59,67,82) 0%, #040405 100%);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -4;
}


/* menu nella sezione  usica dove selezioni che tipo di audio ascoltare */
.menu-options{
  display: flex;
  justify-content: center;
  padding: 60px 0;
}
.menu-options ul li{
  display: inline-block;
  padding: 10px;
}
.menu-options ul li a{
  color:white;
  text-transform: uppercase;
}
/* SEZIONE ALBUM E ARTISITI */
.musics{
  display: flex;
  flex-flow: row wrap;
  width: 85%;
  margin:auto;
}
/* testo sopra le immagini album */
.text{
  width: 100%;
  color: white;
  font-size: 2rem;
  font-weight: 900;
}
.text{
  padding-left: 15px;
}
/* sezione con le iummagini album e artisti */
.album{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.album .singolo{
  padding: 15px;
}

.singolo{
  width: calc(100% / 6 - 30px);
}

.singolo a{
  color: white;
  display: block;
  text-align: center;
}

.singolo a:nth-child(2){
  padding-top: 15px;
  padding-bottom: 7px;
}
.singolo a:nth-child(3){
  margin-top: 3px;
  font-size: 15px;
  text-transform: capitalize;
  opacity: .5;
}
/* overlay play */
.container-img{
  position: relative;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container-img:hover > img {
  opacity: 0.3;
}

.container-img:hover .middle  {
  opacity: 1;
}
















footer{
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100px;
  background: rgb(40,40,40);
  width: 100%;
}






@media (max-width: 1700px) {
  .musics{
    width: 95%;
  }
  .singolo{
    width: calc(100% / 6 - 30px)
  }
}

@media (max-width: 1200px) {
  .musics{
    width: 95%;
  }
  .singolo{
    width: calc(100% / 4 - 30px)
  }

}

@media (max-width: 992px) {
  aside{
    width: 60px;
  }
  .nav{
    padding:0 10px;
  }
  .nav .icone li img{
    margin: auto;

  }
  main{
    margin-left: 50px;
    width: calc(100% - 50px);
  }
  .singolo{
    width: calc(100% / 3 - 30px)
  }
  .recenti{
    display: none;
  }
  .side-bar p{
    display: none;
  }
  .d-none{
    display: none;
  }
  .d-block{
    display: block;
  }

}

@media (max-width: 768px) {

  .album{
    justify-content: center;
  }
  .singolo{
    width: calc(100% / 2 - 30px)
  }
}

@media (max-width: 576px) {
  .singolo{
    width: calc(100% / 1 - 30px)
  }
 }








































/* eafdadefswd */
